<div class="flex-row">
    <div class="flex-1">
    <style>
      mat-grid-tile {
        height: 200px !important;
      }
    </style>
      <mat-grid-list cols="2" rowHeight="2:1">

        <mat-grid-tile>
          <button mat-fab extended color="warn" style="color: rgb(255, 255, 255); width: 200px; height: 200px;" [routerLink]="['/prompts']">
            <mat-icon matListItemIcon>menu</mat-icon>
            Settings
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-fab extended color="primary" style="color: rgb(255, 255, 255); width: 200px; height: 200px;" [routerLink]="['/game/temporary']">
            <mat-icon matListItemIcon>group</mat-icon>
            Create Game
          </button>
        </mat-grid-tile>


<!--
        <mat-grid-tile>
          <mat-card>
            <mat-card-content>
              players in lobby:
            </mat-card-content>
          </mat-card>

        </mat-grid-tile>
      </mat-grid-list>
-->
          <!-- main website for host to look at to start a game -->




