<div class="flex-row">
  <div class="flex-1">
    <style>
      mat-grid-tile {
        height: 200px !important;
      }

    </style>
    <mat-grid-list cols="3" rowHeight="1:1">

      <mat-grid-tile>
        1
      </mat-grid-tile>

      <mat-grid-tile>
        2
      </mat-grid-tile>

      <mat-grid-tile>
        3
      </mat-grid-tile>

      <mat-grid-tile>
        4
      </mat-grid-tile>

      <mat-grid-tile>
        5
      </mat-grid-tile>

      <mat-grid-tile>
        6
      </mat-grid-tile>


