<div class="flex-row">
  <div class="flex-1">
    <style>
      mat-grid-tile {
        height: 200px !important;
      }
    </style>
    <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile *ngFor="let prompt of prompts">
        <div>
          {{ prompt }}
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Response</mat-label>
          <input matInput placeholder="Enter your response">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
