<div class="flex-row">
  <div class="flex-1">
    <h1 class="title">Humanity Against Apples</h1>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <button mat-fab extended color="warn" class="custom-button" routerLink="/about" [routerLink]="['/host']" routerLinkActive="HostJoinButton">
          <mat-icon matListItemIcon>menu</mat-icon>
          Host a game
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button  mat-fab extended color="primary" class="custom-button" routerLink="/join" [routerLink]="['/player']" routerLinkActive="PlayerJoinButton">
          <mat-icon matListItemIcon>videogame_asset</mat-icon>
          Join a game
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<style>
  .title {
    text-align: center;
    font-size: 100px;
    margin-bottom: 100px;
    color: #ffffff;
  }

  .custom-button {
    color: #fff;
    width: 50%;
    height: 100%;
    font-size: 1.2em;
  }

  .mat-grid-tile {
    padding: 10px;
  }
</style>
