<div class="container">
  <div class="content">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Join the Game</mat-card-title>
      </mat-card-header>


      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="choose a username">
        </mat-form-field>

        <!-- add more functionality like add user form -->

        <div class="button-container">
          <button mat-fab extended color="primary"
           [routerLink]="['/game/temporary']"
          routerLinkActive="HostJoinButton"
          data-test="joinButton"
          >

            <mat-icon>add</mat-icon>
            Join
          </button>
        </div>
      </mat-card-content>


    </mat-card>
    <button mat-fab class="add-user-fab" matTooltip="Go back" matTooltipPosition="left" routerLink="/" style="position: absolute; bottom: 100px; right: 100px;">
      <mat-icon aria-label="go back">subdirectory_arrow_left</mat-icon>
    </button>
  </div>
</div>

<style>
</style>
